<h2>{{title | uppercase}}</h2>

<table *ngIf="user != null" border="1" width="600" style="border-collapse: collapse">
    <thead>
    <tr>
        <td>id</td>
        <td>Name</td>
        <td>e-mail</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
    </tr>
    </tbody>
</table>
