<h2>{{title | uppercase}}</h2>

<form novalidate #userForm="ngForm" (ngSubmit)="save(userForm.form);" class="users-form">
    <div class="form-group {{!name.valid && name.dirty ?'has-error' : ''}}">
        <label class="control-label" for="name">Name</label>
        <input name="name" type="text"
               class="form-control"
               id="name"
               palceholder="User name"
               required
               pattern="[A-Z]{1}[a-z]{1,9}"
               #name="ngForm"
               [ngClass]="controlStateClasses(name)"
               ngControl="name"/>
        <div *ngIf="!name.valid && name.dirty"
             class="error-message">
            {{name.value.length > 0 ? 'Name is not valid, try again' : 'Field is required'}}
        </div>
    </div>
    <div class="form-group">
        <label for="1">E-mail</label>
        <input type="text"
               class="form-control"
               id="1"
               palceholder="User email"
               required
               pattern="([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}"
               #email="ngForm"
               [ngClass]="controlStateClasses(email)"
               ngControl="email"/>
        <div *ngIf="!email.valid && email.dirty" class="error-message">{{email.value.length > 0 ? 'E-mail is not valid, example: example@examplemail.com' : 'Field is required'}}</div>
    </div>
    <button type="submit" class="btn btn-default"
            [disabled]="!userForm.form.valid">Submit</button>
</form>

<p class="bg-info">Click on user name to see user details</p>

<ul class="user-list">
    <li *ngFor="let user of users">
        <a [routerLink]="['User', {'id': user.id.toString()}]">{{user.name}}</a>
        <span (click)="remove(user)" class="glyphicon glyphicon-remove remove-icon"></span>
    </li>
</ul>