/* Copyright (c) 2017, Masya. All rights reserved. Use of this source code
   is governed by a BSD-style license that can be found in the LICENSE file. */

@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  max-width: 600px;
  margin: 0 auto;
  padding: 5vw;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.users-form {
  margin-bottom: 30px;
}

.error-message {
  color: #a94442;
}

ul {
  padding: 0;
  list-style-type: none;
}

.user-list {
  padding-top: 30px;
}

.user-list li {
  display: flex;
  justify-content: space-between;
}

.remove-icon {
  cursor: pointer;
}

.remove-icon:hover {
  color: red;
}